---
layout: default
title: About
---


<h2>About</h2>


<p>Welcome to Edinburgh’s regular meetup of co-operatives, organised by the local community.</p>

<p>
    We meet monthly, normally on the 2nd friday of the month -
    see <a href="{{ site.baseurl }}/events.html">our events pages</a> for more.
</p>

<p>
    We mostly meet at <a href="https://www.eshc.coop/">Edinburgh Student Housing Co-op</a> -
    thank you for supporting our event.
</p>

<div class="end-page-navigation">
    <div>
        {% include upcoming_events.html %}
    </div>
    <div>
        {% include recent_blog_posts.html %}
    </div>
</div>
